[Unit]
Description=WALLJM Slideshow Service
StartLimitInterval=200
StartLimitBurst=5

[Service]
DynamicUser=yes
WorkingDirectory=/opt/walljm/slideshow
ExecStart=/opt/walljm/slideshow/SlideshowWebServer
Type=notify
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
